/* el home debe tener un banner 
debe salir una foto mia o un avatar
y una pequeña descripcion mia
nuevo componente que se llame footer*/

.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/fotosanotojobs.appspot.com/o/daftpunk2.jpg?alt=media&token=0ad3aa54-3a09-4424-80c1-0ece2e79a0db");
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 35% 20%;

}